<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
</head>
<body>

{% include 'navbar.html' %}

<div class="auth-container">

    <div class="auth-card">

        <h2>Create Account</h2>

        <input type="text" id="username" placeholder="Username">

        <input type="email" id="email" placeholder="Email">

        <input type="password" id="password" placeholder="Password">

        <button onclick="registerUser()">
            Sign Up
        </button>

        <p id="signupMessage"></p>

        <p>
            Already have an account?
            <a href="/login">Login</a>
        </p>

    </div>

</div>

<script src="/static/js/script.js"></script>

</body>
</html>